{% extends "layouts/main.html" %}

{% block pageTitle %}
Get example input page
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Your order total is £{{data['order_total']}}
      </h1>
       
        
        
        {{ govukButton({
          text: "Place order"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
