{% extends "layouts/main.html" %}

{% set pageName="You're facing the west wall" %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% if data['error'] == true %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Please select an option",
            href: "#"
          }
          
        ]
      }) }}
    {% endif %}

      <h1 class="govuk-heading-l">
        {{pageName}}
      </h1>

    
      <div class="govuk-body">
        <p class="govuk-body-l">You see a small desk that has a notebook, a scrap of paper and a copy of Harry Potter and the Prisoner of Azkaban on it</p>
        <form class="form"  method="post">

          {% if data['error'] == true %}

          {{ govukRadios({
            name: "westwallaction",
            value: data['westwallaction'],
            fieldset: {
              legend: {
                text: "What would you like to do?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            errorMessage: {
              text: "Please select an option"
            },
            items: [
              {
                value: "back",
                text: "Go back"
              },
              {
                value: "notebook",
                text: "Inspect the notebook"
              },
              {
                value: "paper",
                text: "Inspect the scrap of paper"
              },
              {
                value: "book",
                text: "Inspect the book"
              }
            ]
          }) }}

          {% else %}
            {{ govukRadios({
              name: "westwallaction",
              value: data['westwallaction'],
              fieldset: {
                legend: {
                  text: "What would you like to do?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                {
                  value: "back",
                  text: "Go back"
                },
                {
                  value: "notebook",
                  text: "Inspect the notebook"
                },
                {
                  value: "paper",
                  text: "Inspect the scrap of paper"
                },
                {
                  value: "book",
                  text: "Inspect the book"
                }
              ]
            }) }}

          {% endif %}
          
          {{ govukButton({
            text: "Continue"
          }) }}

        </form>
      </div>

    </div>
  </div>

{% endblock %}
